<!-- <div class="container">
  <div class="row">
    <app-create-user>
      <div>first</div>
      <div mid>middle</div>
      <div one>last</div>
    </app-create-user> -->
<!-- <app-life-cycle-methods [user]="'userData'"></app-life-cycle-methods>
    <button (click)="onChanges()">Add Changes</button> -->
<!-- <app-add-user></app-add-user>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <app-create-user>
      <div>first</div>
      <div mid>middle</div>
      <div one>last</div>
    </app-create-user>
    <!-- <app-life-cycle-methods [user]="'userData'"></app-life-cycle-methods>
    <button (click)="onChanges()">Add Changes</button> -->
    <app-add-user></app-add-user>
  </div>
</div>
