<header>
  <div class="logo">
    <img
      src="https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=87318&Width=0&Height=0&quality=85"
      alt=""
    />
    <!-- <h1>AJIO</h1> -->
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Product</a></li>
    </ul>
  </nav>
  <div class="search-box">
    <input type="text" placeholder="Search " />
  </div>
</header>


