<div class="row">
  <div class="col-md-9">
    <input
      type="search"
      class="form-control"
      placeholder="Search here...."
      [(ngModel)]="postSearch"
    />
  </div>
</div>
<table
  class="table table-bordered table-striped table-hover my-5"
  *ngIf="posts && posts.length"
>
  <thead class="bg-secondary text-white">
    <tr class="text-center">
      <th>Title</th>
      <th>Category</th>
      <th>Body</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts | filterPost: postSearch" class="text-center">
      <td>{{ post.title }}</td>
      <td>{{ post.categoryName }}</td>
      <td>{{ post.body }}</td>
      <td>
        <a
          class="btn btn-sm btn-warning"
          [routerLink]="['/post', post.id, 'edit']"
          >Edit</a
        >
        <button
          class="btn btn-sm btn-danger mx-2"
          (click)="onDeletePost(post.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
