<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Index</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let user of users;
        index as i;
        even as e;
        odd as o;
        count as totalUser;
        first as firstRow;
        last as endRow
      "
      [ngClass]="{ even: e, odd: o, first: firstRow, last: endRow }"
    >
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ i + 1 }}</td>
      <td>{{ totalUser }}</td>
    </tr>
  </tbody>
</table>

<!-- <ul *ngFor="let user of users; index as i">
  <li>{{ i }}</li>
  <li>{{ user.id }}</li>
  <li>{{ user.name }}</li>
</ul> -->
