<div class="row service-form">
  <div class="col-md-5 col-12 text-reminder order-2 order-lg-1">
    <div class="service-reminder p-4 p-xl-5">
      <div class="py-1 mt-sm-3">
        <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <div class="imp-remind">
        We will send you a text with important remminders about your vehicle.
      </div>
      <div class="my-2 icn">
        <i class="fa-solid fa-car-on icon rounded-circle"></i> Service reminders
      </div>
      <div class="my-2 icn">
        <i class="fa-solid fa-calendar-week icon rounded-circle"></i> Loan
        expiration reminders
      </div>
      <div class="my-2 icn">
        <i class="fa-solid fa-circle-exclamation icon rounded-circle"></i>
        Recall notifications
      </div>
      <!-- <i class="fa-solid fa-car-wrench"></i> -->
      <!-- <i class="fa-solid fa-calendar-minus"></i> -->
    </div>
  </div>

  <div class="col-md-7 col-12 outer-div order-1 order-lg-1">
    <i class="fa-solid fa-xmark"></i>
    <div class="vehicle-info px-lg-3">
      <div class="text-updates p-lg-5 p-xl-4">
        <h3 class="text-center dave mb-0 mt-xl-4">Dave,</h3>
        <h6 class="ask-update text-center py-2 fw-xl-bolder">
          would you like text updates about your vehicle?
        </h6>
        <p class="text-center update-confirmation mb-0 py-1 mt-xl-3">
          We are updating our records regarding your
        </p>
        <p class="text-center update-confirmation px-3 px-xl-4">
          2014 Honda CR-V LX Please confirm your mobile number below.
        </p>

        <!-- Radio Buttons -->
        <div class="form-check px-xl-5 mt-xl-4 py-xl-2 d-flex align-items-center"  id="numb-info">
         
          <input type="radio" id="specifyColor"  name="radio" checked class="mx-xl-2"/>
          <label for="specifyColor">Yes, text me with updates</label>
        </div>
        <div class="form-check px-xl-5 d-flex align-items-center">
        
          <input type="radio" id="specifyColor"  name="radio" class="mx-xl-2"/>
          <label for="specifyColor"> No, don't text me</label>
        </div>

        <form class="number-form py-xl-5 my-xl-2 py-lg-4 px-xl-3 mx-xl-3">
          <label class="py-2">Confirm your mobile number <span>*</span></label>
          <input type="number" placeholder="123-456-7890" class="mob-no py-2" />
        </form>
      </div>
      <div class="buttons py-xl-4 p-lg-4 4">
        <button class="btn text-white btn-submit float-left">SUBMIT</button>
        <button class="btn btn-skip text-end">Skip for now</button>
      </div>
    </div>
  </div>
</div>
