<div class="banner-section">
  <div class="img-banner">
    <img
      src="https://www.drivespark.com/images/2021-04/mercedes-benz-eqs-22.jpg
"
      alt=""
      width="650px"
    />
  </div>
  <div class="banner-text">
    <h2 class="banner-heading">Mercedes-Benz Cars</h2>
    <p>
      Mercedes-Benz car price starts at Rs 41.99 Lakh for the cheapest model
      which is A-Class Limousine and the price of most expensive model, which is
      Maybach GLS starts at Rs 2.80 Crore. Mercedes-Benz offers 22 car models in
      India, including 9 cars in SUV category, 9 cars in Sedan category, 1 car
      in Hatchback category, 1 car in Convertible category, 2 cars in Coupe
      category. Mercedes-Benz has 3 upcoming cars in India, EQS, EQE and EQB.
      Founded in 1994, Mercedes-Benz is the oldest luxury automobile
      manufacturer in India. A subsidiary of the German marquee, the company has
      its factory and headquarters located in Chakan, Pune. The company has a
      few customer-centric events in India such as the Mercedes Trophy and the
      AMG Driving Academy.
    </p>
    <p>
      Mercedes-Benz sells models in the standard range, AMG range and the
      Maybach range. The standard range includes the C-Class, CLA, GLA, GLC,
      C-Class Cabriolet, E-Class, GLE, EQC EV, GLS, V-Class, S-Class and the
      CLS. The Maybach range includes the S-Class Maybach and GLS Maybach. The
      AMG range includes C-43 AMG, GLC-43 AMG, GLE-45 AMG, E-63S AMG, G-63 AMG,
      AMG-GT Roadster, AMG-GT R and the S63 AMG. The complete AMG range is
      imported to the country via the CBU route.
    </p>
  </div>
</div>
