<div>
<h4>Add Category</h4>
<!-- <div class="form-Control-Section">
  <label>Id</label>
  <input type="text" class="form-control" [(ngModel)]="id" />
</div> -->
<div class="form-Control-Section">
  <label>Name</label>
  <input type="text" class="form-control" [(ngModel)]="name" />
</div>
<div class="form-Control-Section">
  <label>Description</label>
  <textarea class="form-control" [(ngModel)]="description"></textarea>
</div>
<div>
  <button class="btn btn-success mt-3" (click)="onAddCategory()">Add Category</button>
</div>
</div>