<footer>
  <div class="footer-top">
    <div class="honda-title">
      <h2>Paragon Honda</h2>
    </div>
    <div class="contact-btn">
      <button id="btn-ctct">Contact Us</button>
    </div>
  </div>
  <div class="footer-details">
  <div class="footer-list">
    <h4>New</h4>
    <ul>
      <li>Search Inventory</li>
      <li>Search by Brand</li>
      <li>Search by Type</li>
    </ul>
  </div>
  
    <div class="footer-list">
      <h4>Services</h4>
      <ul>
        <li>Search Inventory</li>
        <li>Search by Brand</li>
        <li>Search by Type</li>
      </ul>
    </div>
    <div class="footer-list">
      <h4>About</h4>
      <ul>
        <li>Search Inventory</li>
        <li>Search by Brand</li>
        <li>Search by Type</li>
      </ul>
    </div>
  </div>
</footer>
