<div class="row">
  <div class="col-md-4">
    <h5>Update Category</h5>
    <div>
      <label>Id</label>
      <input type="text" class="form-control" [(ngModel)]="id" />
    </div>
    <div>
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" />
    </div>
    <div>
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="description"
      />
    </div>
    <div class="my-4  text-center">
      <button class="btn btn-success mx-2" (click)="onUpdateCategory()" >Update</button>
      <button class="btn btn-warning mx-2" (click)="onGoToTbl()">Go Back</button>
    </div>
  </div>
</div>
