<div class="card-wrapper-section">
  <h2>New Inventory</h2>
  <div class="card-wrapper">
    <div class="card">
      <img
        src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2Fd515a94d-8cd6-4048-a98b-aa8326a8c428.jpg?fit=scale-down&source=next&width=280"
        alt="Avatar"
      />
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2Fd515a94d-8cd6-4048-a98b-aa8326a8c428.jpg?fit=scale-down&source=next&width=280"
        alt="Avatar"
      />
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2Fd515a94d-8cd6-4048-a98b-aa8326a8c428.jpg?fit=scale-down&source=next&width=280"
        alt="Avatar"
      />
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2Fd515a94d-8cd6-4048-a98b-aa8326a8c428.jpg?fit=scale-down&source=next&width=280"
        alt="Avatar"
      />
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
  </div>
</div>
