<div class="container edit-comp">
  <!-- <div>
    <label for="">Id</label>
    <input type="number" class="form-control" [(ngModel)]="id"/>
  </div> -->
  <div>
    <label>Name</label>
    <input type="text" class="form-control"  [(ngModel)]="name"/>
  </div>
  <div>
    <label>Email</label>
    <input type="text" class="form-control"  [(ngModel)]="email"/>
  </div>
  <div>
    <label>Phone</label>
    <input type="text" class="form-control"  [(ngModel)]="phone"/>
  </div>
  <div>
    <button class="btn btn-success my-3" (click)="onUpdate()">Update</button>
  </div>
</div>
